@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome/fontawesome.eot?-e43dk9');
	src:url('../fonts/fontawesome/fontawesome.eot?#iefix-e43dk9') format('embedded-opentype'),
		url('../fonts/fontawesome/fontawesome.woff?-e43dk9') format('woff'),
		url('../fonts/fontawesome/fontawesome.ttf?-e43dk9') format('truetype'),
		url('../fonts/fontawesome/fontawesome.svg?-e43dk9#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/app */

/* General style */
.grid-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


/* Grid style */
.grid-wrap {
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1em 1.875em;
}

.grid {
	margin: 0 auto;
}

.grid li {
	width: 50%;
	float: left;
	cursor: pointer;
  -webkit-box-shadow: 3px 3px 12px 0px rgba(124, 103, 25, 0.5);
-moz-box-shadow:    3px 3px 12px 0px rgba(124, 103, 25, 0.5);
box-shadow:         3px 3px 12px 0px rgba(124, 103, 25, 0.5); 

}
.grid li:hover{
-webkit-box-shadow: 0px 0px 10px 0px rgba(218, 48, 90, 0.74);
-moz-box-shadow:    0px 0px 10px 0px rgba(218, 48, 90, 0.74);
box-shadow:         0px 0px 10px 0px rgba(218, 48, 90, 0.74);}
.grid li p{
  margin-left:10px;
}
.score{
font-size:2em;
  font-weight:3px;
}

/*  media queries (reduce number of columns) */

@media screen and (max-width: 60em) {
	/* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
	.grid li {
		width: 33.3%;
	}

	
}

@media screen and (max-width: 35em) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 24em) {
	.grid li {
		width: 100%;
	}
}